body {
	background-color: black;
	
	margin: 0ex;
	
	font-family: 'Linux Libertine O', serif;
	font-size: 16pt;
	color: orangered;
}


/* headings */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Linux Biolinum', sans-serif;
	letter-spacing: 0.05ex;
}

h1 {
	text-align: center;
	letter-spacing: 0.1ex;
}

/* links
 *
 * :hover, :focus needs to come last
 */

a[href] {
	text-decoration: none;
}

a[href]:link {
	color: lightcoral;
}


a[href]:active {
	color: yellowgreen;
}

a[href]:visited {
	color: indianred;
}

a[href]:hover, a[href]:focus {
	color: ivory;
}


/* navigation bar */

body > div.container > div.navigation {
	font-family: 'Linux Biolinum', sans-serif;
	font-weight: 700;
}

body > div.container > div.navigation > ul {
	margin-top: 0ex;
	padding-left: 0ex;
	padding-right: 0ex;
	padding-top: 2ex;
	padding-bottom: 2ex;
	
	background-color: midnightblue;
	
	text-align: center;
	color: powderblue;
}


body > div.container > div.navigation > ul > li {
	display: inline;
}

body > div.container > div.navigation > ul > li > a[href]:link {
	color: azure;
}

body > div.container > div.navigation > ul > li > a[href]:visited {
	color: antiquewhite;
}

body > div.container > div.navigation > ul > li > a[href]:hover {
	color: chartreuse;
}

body > div.container > div.navigation > ul > li + li:before {
	content: "│";
	margin-right: 1ex;
	margin-left: 1ex;
}

/* section links */
body > div.container > div.content > h1 + div.sections {
	text-align: center;
	font-family: 'Linux Biolinum', sans-serif;
	font-weight: 555;
}

body > div.container > div.content > h1 + div.sections > div.one_section {
	display: inline;
	padding: 1ex 2.5ex;
	margin: 1ex;
	
	background-color: indigo;
	color: lightcoral;
}

body > div.container > div.content > h1 + div.sections > div.one_section:hover {
	background-color: lightseagreen;
	color: black;
}

body > div.container > div.content > h1 + div.sections > div.one_section > a[href]:link {
	color: lawngreen;
}

body > div.container > div.content > h1 + div.sections > div.one_section > a[href]:hover {
	color: black;
}

/* content */

body > div.container > div.content {
	margin: 2ex 4%;
}

/* tables */

body > div.container > div.content > table {
	width: 100%;
	padding: 1ex;
	margin: 2ex 0ex;
	background-color: #04080A;
}

body > div.container > div.content > table * th {
	font-family: 'Linux Biolinum', sans-serif;
	letter-spacing: 0.08ex;
}

/* miscellaneous */

code {
	font-family: 'Linux Libertine Mono O', monospace;
	font-size: 90%;
	color: darkorange;
	letter-spacing: -0.1ex;
}

body > div.container > div.content > hr {
	width: 96%;
	height: 0.2ex;
	border: 0px;
	color: midnightblue; /* shade if border non-zero */
	background-color: midnightblue; /* filling */;
	text-align: center;
}

body > div.container > div.content > span.appinfo {
	display: block;
	padding: 1em;
	
	text-align: right;
	font-size: 70%;
	color: midnightblue;
}
